h1 {
  font-family: Impact;
  color: red;
  background-color: black;
  font-size: 100px;
  text-align: center;
}
* {
  background-color: grey;
}

body {
  c
}
#trump {
  border: 15px solid gold;
}

#pigbike {
  border: 15px solid pink;
}
.pet {
  border: 10px dashed red;
  height:400px;
  width:600px;
}
